<div class="row">

  <div class="span5">
<h1><legend>Sign up and enter a new world</legend></h1>
<div class="row">
  <div class="span5">
 
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>
  
  <div><%= f.label :profile_name %><br />
    <%= f.text_field :profile_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="btn btn-danger">
   <div><%= f.button :submit, "Sign in" %></div> 
<% end %>
</div>

<div class="btn btn-danger">
  <%= render "devise/shared/links" %>
</div>
